@model List<InventoryPOS.Models.Category>
@{
    ViewData["Title"] = "Categories";
}

<div class="container mt-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Categories List</h3>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Category ID</th>
                            <th>Category Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>@category.categoryID</td>
                                <td>@category.name</td>
                                <td>@category.description</td>
                                <td><button class="btn btn-sm btn-info">Edit</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>