@model InventoryPOS.Models.Product

@{
    ViewData["Title"] = "Add Product";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <form class="card" asp-action="AddProduct" method="post">
                <div class="card-header">
                    <h3 class="card-title">Add Product</h3>
                </div>
                <div class="card-body">
                    <div class="row row-cards">
                        <div class="col-md-5">
                            <div class="mb-3">
                                <label class="form-label">Product Name</label>
                                <input type="text" class="form-control" placeholder="Enter product..." required asp-for="name" autofocus>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-control" asp-for="categoryID" required>
                                    @foreach (var category in Model.categories)
                                    {
                                        <option value="@category.categoryID">@category.name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Brand</label>
                                <select class="form-control" asp-for="brandID" required>
                                    @foreach (var brand in Model.brands)
                                    {
                                        <option value="@brand.brandID">@brand.name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Size/Weight</label>
                                <input type="text" class="form-control" placeholder="Enter size/weight..." required>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Unit Price</label>
                                <input type="number" min="1" class="form-control" placeholder="Enter price..." required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3 mb-0">
                                <label class="form-label">Product Description</label>
                                <textarea rows="5" class="form-control" placeholder="Describe product..." asp-for="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
