@model InventoryPOS.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<div class="container mt-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Edit Product</h2>
            </div>
            <div class="card-body">
                <form asp-action="Edit" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="name" class="control-label">Product Name</label>
                                <input asp-for="name" class="form-control" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="categoryID" class="control-label">Choose Category</label>
                                <select asp-for="categoryID" class="form-control">
                                    <option value="">Select Category</option>
                                    @foreach (var category in Model.categories)
                                    {
                                        <option value="@category.categoryID">
                                            @category.name
                                        </option>
                                    }
                                </select>
                                <span asp-validation-for="categoryID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="brandID" class="control-label">Choose Brand</label>
                                <select asp-for="brandID" class="form-control">
                                    <option value="">Select Brand</option>
                                    @foreach (var brand in Model.brands)
                                    {
                                        <option value="@brand.brandID">
                                            @brand.name
                                        </option>
                                    }
                                </select>
                                <span asp-validation-for="brandID" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="description" class="control-label"></label>
                        <textarea asp-for="description" class="form-control"></textarea>
                        <span asp-validation-for="description" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <input type="hidden" asp-for="productID" />
                        <input type="submit" value="Update Product" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
