@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Sale";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Create New Sale</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Product Name/SKU</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Sub Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><input type="text" class="form-control" /></td>
                                <td><input type="number" class="form-control" /></td>
                                <td><input type="number" class="form-control" /></td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><input type="text" class="form-control" /></td>
                                <td><input type="number" class="form-control" /></td>
                                <td><input type="number" class="form-control" /></td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><input type="text" class="form-control" /></td>
                                <td><input type="number" class="form-control" /></td>
                                <td><input type="number" class="form-control" /></td>
                                <td>---</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4" class="text-end">Net Total</th>
                                <td>2300</td>
                            </tr>
                            <tr>
                                <th colspan="4" class="text-end">Discount</th>
                                <td>250</td>
                            </tr>
                            <tr>
                                <th colspan="4" class="text-end">GST</th>
                                <td>390</td>
                            </tr>
                            <tr>
                                <th colspan="4" class="text-end">Gross Total</th>
                                <td>2440</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>